extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(class="img-fluid", src="img/nosotros.jpg", alt="imagen nosotros")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam elit elit, iaculis sed urna a, cursus pellentesque metus. Pellentesque blandit nisi diam, sed ultrices sem dictum ac. Suspendisse fringilla, lectus sit amet sagittis varius, nisi felis facilisis sapien, vitae vehicula mauris leo accumsan tellus. Donec viverra nulla ipsum, in luctus justo ultrices sit amet. Sed ac magna dapibus, laoreet odio nec, blandit sapien. Curabitur maximus auctor elit, nec condimentum ligula efficitur sit amet. 

                p Morbi aliquam dapibus facilisis. Suspendisse finibus lacus felis, et semper urna eleifend eu. Suspendisse velit nunc, tempor id ultrices ut, blandit at mauris. Curabitur eget ornare felis, a consequat magna. Morbi nisi urna, tempus eu laoreet a, viverra quis velit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 

                p Curabitur id semper sem. Curabitur magna leo, pellentesque eu molestie vel, eleifend pellentesque metus. Maecenas ultrices odio vel luctus tincidunt. Aenean nec orci et diam pulvinar auctor vitae a ex. Maecenas in enim eget mi malesuada feugiat. Nunc pulvinar accumsan diam ut vehicula. Fusce sed lorem lobortis, tempus lacus eu, semper nunc. Vivamus in felis vestibulum tortor iaculis faucibus. Suspendisse fermentum libero mauris, a finibus quam elementum vel. Sed imperdiet risus nec finibus vestibulum. Nullam urna erat, cursus non pellentesque eget, elementum vel eros. Nam luctus venenatis metus id sagittis.

    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus velit vitae accumsan convallis. Aenean id diam in purus dapibus consequat at vitae tortor. Mauris in ipsum eu libero scelerisque semper. In ut diam non odio blandit facilisis non at odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean iaculis dapibus urna, sed lobortis dui porttitor ut. Ut sed tempus est. Duis ullamcorper venenatis nisi ac maximus. Nullam fringilla massa orci, eget commodo quam sollicitudin et. Nulla facilisis turpis vel est facilisis tempus.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus velit vitae accumsan convallis. Aenean id diam in purus dapibus consequat at vitae tortor. Mauris in ipsum eu libero scelerisque semper. In ut diam non odio blandit facilisis non at odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean iaculis dapibus urna, sed lobortis dui porttitor ut. Ut sed tempus est. Duis ullamcorper venenatis nisi ac maximus. Nullam fringilla massa orci, eget commodo quam sollicitudin et. Nulla facilisis turpis vel est facilisis tempus.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus velit vitae accumsan convallis. Aenean id diam in purus dapibus consequat at vitae tortor. Mauris in ipsum eu libero scelerisque semper. In ut diam non odio blandit facilisis non at odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean iaculis dapibus urna, sed lobortis dui porttitor ut. Ut sed tempus est. Duis ullamcorper venenatis nisi ac maximus. Nullam fringilla massa orci, eget commodo quam sollicitudin et. Nulla facilisis turpis vel est facilisis tempus.